/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #efefef;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: rgb(0, 0, 0);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #efefef;
  box-shadow: 0 5px 10px rgba(148, 147, 147, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #efefef;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;


}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #efefef;
  color: rgb(0, 0, 0);
}
.sidebar.open .bx-search:hover{
  background: #efefef;
  color: rgb(0, 0, 0);
}
.sidebar .bx-search:hover{
  background: rgb(0, 0, 0);
  color: #efefef;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #efefef;
}
.sidebar li a:hover{
  background: rgb(0, 0, 0);
}
.sidebar li a .links_name{
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #efefef;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #efefef;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #efefef;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #dbdbdb;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

 .container{
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}
.left-sidebar{
  background: #cbdffa;
  flex-basis: 0%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  
}
.right-sidebar{
  
  flex-basis: 35%;
  position: sticky;
  top: 10px;
  align-self: flex-start;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  color: #626262;
  
  



  
}

.sidebar-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:18px ;


}
.sidebar-title h4{
  font-weight: 600;
  font-size: 16px;
}
.sidebar-title a{
  text-decoration: none;
  color: #1876f2;
  font-size: 12px;

}

.main-content{
  flex-basis: 40%;
}

.story-gallary{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.story{
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.story img{
  position: absolute;
  width: 45px;
  
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 5px solid #1876f2;
}
.story p{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
}
.story.story1 img{
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
}
body{
  background: #f8f8f8;
}
.story1{
  background-image:url(image/1.jpg);

}

.story2{
background-image:url(image/male.jpg);
}
.story3{
  background-image:url(image/male.jpg);
}
.story4{
background-image:url(image/male.jpg);
}
.story5{
  background-image:url(image/male.jpg);
}
.write-post-container{
  background: white;
  width: 100%;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
}
.user-profile{
  display: flex;
  align-items: center;
}
.user-profile img{
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  height: 40px;
}
.user-profile p{
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}
.user-profile small{
  font-size: 12px;
}
.post-input-container{
  padding-left: 55px;
  padding-top: 20px;
}
.post-input-container textarea{
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc; 
  background: transparent;
  resize: none;
}
.add-post-links{
  display: flex;
  margin-top: 10px;
}

.add-post-links a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;
}

.add-post-links a img{
  width: 20px;
  margin-right: 10px;
}
.post-container{
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;
}
.user-profile span{
  font-size: 13px;
  color: #9a9a9a;
}
.post-text{
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}

.post-text span{
  color: #626262;
  font-weight: 500;
}
.post-text a{
  color: #1876f2;
  text-decoration: none;
}

.post-img{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
  height: 500px;
  filter: blur(15px);
}

.post-img-1{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
  height: 500px;
 
}

.post-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding-top: 30px;*/
}
.activity-icons div img{

  width: 18px;
  margin-right: 10px;

}

.activity-icons div{
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}

.activity-icons button{
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}
.event{
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}
.left-event{
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p{
  font-size: 12px;

}
.event a{
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;

}
.left-event span{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1876f2;
  color: #fff;
  font-size: 10px;
  padding: 4px 0;
}
.site-ads{
  width: 100%;
height: 150px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.post-profile-icon{


  display: flex;
  align-items: center;

}

.post-profile-icon img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;

}

.post-row a{
  color: #9a9a9a;
}


/*-------profile css-----*/

.center-main{
 
}
.profile-container{
  padding: 20px 10%;
  color: #626262;
}

.cover-img{
  width: 100%;
  
  border-radius: 6px;
  margin-bottom: 14px;
}


.profile-detail{
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.pd-row{
  display: flex;
  align-items: flex-start;
}

.pd-img{
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
}

.pd-row div h3{
  font-size: 25px;
  font-weight: 600;

}

.pd-row div p{
  font-size: 13px;
}

.pd-row div img{

  width: 25px;
  border-radius: 50%;
  margin-top: 12px;

}

.pd-right button{
  background: #1876f2;
  border: 0;
  outline: 0;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

.pd-right button img{
  height: 15px;
  margin-right: 10px;
}

.pd-right button:first-child{
  background: #e4e6eb;
  color: #000;
}


.pd-right{
  text-align: right;
}

.more-buttons a{
  
  border-radius: 3px;
  padding: 12px;
  display: inline-flex;
  align-content: space-between;
  margin-top: 30px;
  text-decoration: none;
  color: #2f2f2f;
  font-size: 15px;
  align-items: center;
  margin: 15px;
  

}

.more-buttons a img{
  width: 20px;
}

.profile-info{
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.info-col{
  flex-basis: 33%;
  position: sticky;

}

.post-col{
  flex-basis: 65%;
}

.profile-intro{
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.profile-intro h3{
  font-weight:600 ;
}

.intro-input {
text-align: center;
margin: 10px 0;
font-size: 15px;

}

.profile-intro hr{
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 24px 0;
}

.profile-intro ul li{
  list-style: none;
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;

}

.profile-intro ul li img{
  width: 26px;
  margin-right: 10px;

}

.title-box{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.title-box a{
  text-decoration: none;
  color: #1876f2;
  font-size: 14px;
}

.photo-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;
}

.photo-box div img{
  width: 100%;
  cursor: pointer;
height: 80px;
border-radius: 4px;

}

.profile-intro p{
  font-size: 14px;
border-radius: 3px;
}

.friends-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 15px;
}

.friends-box div img{
  width: 100%;
  cursor: pointer;

border-radius: 4px;
padding-bottom: 20px;

}

.friends-box div{
  position: relative;
}

.friends-box  p{
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
